body{
    background-color:#0E0E15;
}

*{	
	box-sizing:border-box;
    box-sizing:border-box;
    margin:0px;
}

.header_row{
      height: 170px;
      border: solid 2px red;
}



.logoicon{
      height: 72px;
      width: 310px;
      padding: 0px 0px 0px 80px;
      float:left;
      margin-top:45px;
      margin-bottom:20px;
}
.movie_hub_row{
   font-size: 28px;
   line-height: 72px;
   float:right;
   width: 150px;
   height: 72px;
   color: #F3F3F3;
  
}



.header_inside_row{
   width: 350px;
   height: 40px;
   float:right;
   margin-top:70px;
   margin-left:20px;
  
}

.watch_text_row{
   width: 85px;
   height: 30px;
   line-height:30px;
   color:#F3F3F3;
   float:left;
   font-size: 28px;
 
}

.add_movie_text_row{
   width: 150px;
   height: 30px;
   line-height:30px;
   color:#F3F3F3;
   float:left;
   margin-left:20px;
   font-size: 28px;
  
   
  
}

.header_image{
   width: 60px;
   height: 65px;
   float:left;
}

.movie_box{
    width: 1200px;
    height:380px;
    margin-left:auto;
    margin-right:auto;
    margin-top:35px;
}

img{
   width:300px;
   height:380px;
   float : left;
}

.movie_row{
   width:860px;
   height:380px;
   float:right;   
}

.movie_details_row{
   width:710px;
   height:300px;
   font-size:20px;
   color: #F3F3F3;
}

.like_dislike_row{
   width:855px;
   height:50px;
   margin-top:27px;
 
   
}

.little_row_rating{
   width:190px;
   height:50px;
   float:left;
}

.likethumb{
    width: 50px;
    height: 50px;
    float:left;
}


.circle{
    border: solid 1px red;
    height:50px;
    width:50px;
    padding:14px;
    border-radius: 32px;
    float:left;
    margin-left:20px;
    color: #F3F3F3;
    text-align: center;
    background-color:#272734;
  
}
.dislikethumb{
    width:60px;
    height:60px;
    float:left;
    margin-left:20px

}

p {
   margin-top:8px;
   margin-bottom:8px;
}
.delete{
    width:50px;
    height:50px;
    float:right;
  
    
}


